* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3A3845;
}


.header {
    padding: 21.84px 0px;
}


.list {
    padding: 9px 0px;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding: 9px 0px;
}

a {
    text-decoration: none;
    color: #3A3845;
}

.container {
    margin: 0 auto;
    width: calc(100% - 330px);
   
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.collections {
    padding-top: 40px ;
}

h2 {
    text-align: center;
    margin-top: 23px;
    color: #3A3845;
    font-size: 18px;
}

.collection {
    width: calc((100% - 90px)/4);
}

.collection img {
    width: 100%;
}